PORT=5000
MONGODB_URI=mongodb+srv://bytecart:ABDULLAHI23USMAN@cluster0.xxuukex.mongodb.net/
JWT_SECRET=f7c86e64aa1ea1f1c4c4d8f03893d115e3f6597868df313d8153e2e7ce96957f0ce9b975ea78e9924b860873053ec59fed0720d8d07fccd5b5dce940f5bd5fa9
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dimp8xvio
CLOUDINARY_API_KEY=297749235926159
CLOUDINARY_API_SECRET=-coAl4adOz6BpQkbb7FoB8wC928
EMAIL_USER=uthmanabdullahi2020@gmail.com
EMAIL_PASS=rqdtjiadrznrggzf
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
NODE_ENV=development
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100 
